<<<<<<< HEAD
<<<<<<< HEAD
=======
<html>
<style>

table {
  margin: 0 auto;
  margin-top: 75px;
  border: solid #5d1b03 4px;
  background-image: url('/assets/light.jpeg');
}

table tr td {
  width: 70px;
  height: 70px;
  font-size: 56px;
  text-align: center;
}

table tr:nth-child(odd) td:nth-child(even) {
 background-image: url('/assets/dark.jpeg');
}
table tr:nth-child(even) td:nth-child(odd) {
  background-image: url('/assets/dark.jpeg');
}
}
</style>
<thead>
</thead>
<body>
<table>
    <tr>
        <td class="droppable" data-x-coord="1" data-y-coord="8"><div id="1" class="piece rook" data-name="rook">&#9820;</div></td>
        <td class="droppable" data-x-coord="2" data-y-coord="8"><div id="2" class="piece knight" data-name="knight">&#9822;</div></td>
        <td class="droppable" data-x-coord="3" data-y-coord="8"><div id="3" class="piece bishop" data-name="bishop">&#9821;</div></td>
        <td class="droppable" data-x-coord="4" data-y-coord="8"><div id="4" class="piece queen" data-name="queen" data-x="1" data-y="1">&#9819;</div></td>
        <td class="droppable" data-x-coord="5" data-y-coord="8"><div id="5" class="piece king" data-name="king" data-x="1" data-y="1">&#9818;</div></td>
        <td class="droppable" data-x-coord="6" data-y-coord="8"><div id="6" class="piece bishop" data-name="bishop" data-x="1" data-y="1">&#9821;</div></td>
        <td class="droppable" data-x-coord="7" data-y-coord="8"><div id="7" class="piece knight" data-name="knight" data-x="1" data-y="1">&#9822;</div></td>
        <td class="droppable" data-x-coord="8" data-y-coord="8"><div id="8" class="piece rook" data-name="rook" data-x="1" data-y="1">&#9820;</div></td>
    </tr>
    <tr>
        <td class="droppable" data-x-coord="1" data-y-coord="7"><div id="9" class="piece pawn">&#9823;</div></td>
        <td class="droppable" data-x-coord="2" data-y-coord="7"><div id="10" class="piece pawn">&#9823;</div></td>
        <td class="droppable" data-x-coord="3" data-y-coord="7"><div id="11" class="piece pawn">&#9823;</div></td>
        <td class="droppable" data-x-coord="4" data-y-coord="7"><div id="12" class="piece pawn">&#9823;</div></td>
        <td class="droppable" data-x-coord="5" data-y-coord="7"><div id="13" class="piece pawn">&#9823;</div></td>
        <td class="droppable" data-x-coord="6" data-y-coord="7"><div id="14" class="piece pawn">&#9823;</div></td>
        <td class="droppable" data-x-coord="7" data-y-coord="7"><div id="15" class="piece pawn">&#9823;</div></td>
        <td class="droppable" data-x-coord="8" data-y-coord="7"><div id="16" class="piece pawn">&#9823;</div></td>
    </tr>
    <tr>
        <td class="droppable" data-x-coord="1" data-y-coord="6"></td>
        <td class="droppable" data-x-coord="2" data-y-coord="6"></td>
        <td class="droppable" data-x-coord="3" data-y-coord="6"></td>
        <td class="droppable" data-x-coord="4" data-y-coord="6"></td>
        <td class="droppable" data-x-coord="5" data-y-coord="6"></td>
        <td class="droppable" data-x-coord="6" data-y-coord="6"></td>
        <td class="droppable" data-x-coord="7" data-y-coord="6"></td>
        <td class="droppable" data-x-coord="8" data-y-coord="6"></td>
    </tr>
    <tr>
        <td class="droppable" data-x-coord="1" data-y-coord="5"></td>
        <td class="droppable" data-x-coord="2" data-y-coord="5"></td>
        <td class="droppable" data-x-coord="3" data-y-coord="5"></td>
        <td class="droppable" data-x-coord="4" data-y-coord="5"></td>
        <td class="droppable" data-x-coord="5" data-y-coord="5"></td>
        <td class="droppable" data-x-coord="6" data-y-coord="5"></td>
        <td class="droppable" data-x-coord="7" data-y-coord="5"></td>
        <td class="droppable" data-x-coord="8" data-y-coord="5"></td>
    </tr>
    <tr>
        <td class="droppable" data-x-coord="1" data-y-coord="4"></td>
        <td class="droppable" data-x-coord="2" data-y-coord="4"></td>
        <td class="droppable" data-x-coord="3" data-y-coord="4"></td>
        <td class="droppable" data-x-coord="4" data-y-coord="4"></td>
        <td class="droppable" data-x-coord="5" data-y-coord="4"></td>
        <td class="droppable" data-x-coord="6" data-y-coord="4"></td>
        <td class="droppable" data-x-coord="7" data-y-coord="4"></td>
        <td class="droppable" data-x-coord="8" data-y-coord="4"></td>
    </tr>
    <tr>
        <td class="droppable" data-x-coord="1" data-y-coord="3"></td>
        <td class="droppable" data-x-coord="2" data-y-coord="3"></td>
        <td class="droppable" data-x-coord="3" data-y-coord="3"></td>
        <td class="droppable" data-x-coord="4" data-y-coord="3"></td>
        <td class="droppable" data-x-coord="5" data-y-coord="3"></td>
        <td class="droppable" data-x-coord="6" data-y-coord="3"></td>
        <td class="droppable" data-x-coord="7" data-y-coord="3"></td>
        <td class="droppable" data-x-coord="8" data-y-coord="3"></td>
    </tr>
    <tr>
        <td class="droppable" data-x-coord="1" data-y-coord="2"></td>
        <td class="droppable" data-x-coord="2" data-y-coord="2"></td>
        <td class="droppable" data-x-coord="3" data-y-coord="2"></td>
        <td class="droppable" data-x-coord="4" data-y-coord="2"></td>
        <td class="droppable" data-x-coord="5" data-y-coord="2"></td>
        <td class="droppable" data-x-coord="6" data-y-coord="2"></td>
        <td class="droppable" data-x-coord="7" data-y-coord="2"></td>
        <td class="droppable" data-x-coord="8" data-y-coord="2"></td>
    </tr>
    <tr>
        <td class="droppable" data-id="1" data-x-coord="1" data-y-coord="1"></td>
        <td class="droppable" data-x-coord="2" data-y-coord="1"></td>
        <td class="droppable" data-x-coord="3" data-y-coord="1"></td>
        <td class="droppable" data-x-coord="4" data-y-coord="1"></td>
        <td class="droppable" data-x-coord="5" data-y-coord="1"></td>
        <td class="droppable" data-x-coord="6" data-y-coord="1"></td>
        <td class="droppable" data-x-coord="7" data-y-coord="1"></td>
        <td class="droppable" data-x-coord="8" data-y-coord="1"></td>
    </tr>
</table>

<script>
   
    $('td').droppable();
    $('.piece').draggable({
        containment: "table",
        stop: (e, ui) => {
            var xPos = $(this).parent().data("x-coord");
            var yPos = $(this).data("y-coord");
            var yPosit = $(e.target).attr("data-y-coord");
            console.log(xPos);
        }
      });

</script>
</body>
</html>
>>>>>>> Still working on jQuery
=======
<html>
<style>

table {
  margin: 0 auto;
  margin-top: 75px;
  border: solid #5d1b03 4px;
  background-image: url('/assets/light.jpeg');
}

table tr td {
  width: 70px;
  height: 70px;
  font-size: 56px;
  text-align: center;
}

table tr:nth-child(odd) td:nth-child(even) {
 background-image: url('/assets/dark.jpeg');
}
table tr:nth-child(even) td:nth-child(odd) {
  background-image: url('/assets/dark.jpeg');
}
}
</style>
<thead>
</thead>
<body>
<table>
    <tr>
        <td class="droppable" data-x-coord="1" data-y-coord="8"><div id="1" class="piece" data-piece-id="1" >&#9820;</div></td>
        <td class="droppable" data-x-coord="2" data-y-coord="8"><div id="2" class="piece" data-piece-id= >&#9822;</div></td>
        <td class="droppable" data-x-coord="3" data-y-coord="8"><div id="3" class="piece" data-piece-id= >&#9821;</div></td>
        <td class="droppable" data-x-coord="4" data-y-coord="8"><div id="4" class="piece" data-piece-id= >&#9819;</div></td>
        <td class="droppable" data-x-coord="5" data-y-coord="8"><div id="5" class="piece" data-piece-id= >&#9818;</div></td>
        <td class="droppable" data-x-coord="6" data-y-coord="8"><div id="6" class="piece" data-piece-id= >&#9821;</div></td>
        <td class="droppable" data-x-coord="7" data-y-coord="8"><div id="7" class="piece" data-piece-id= >&#9822;</div></td>
        <td class="droppable" data-x-coord="8" data-y-coord="8"><div id="8" class="piece" data-piece-id= >&#9820;</div></td>
    </tr>
    <tr>
        <td class="droppable" data-x-coord="1" data-y-coord="7"><div id="9" class="piece pawn"></div></td>
        <td class="droppable" data-x-coord="2" data-y-coord="7"><div id="10" class="piece pawn">&#9823;</div></td>
        <td class="droppable" data-x-coord="3" data-y-coord="7"><div id="11" class="piece pawn">&#9823;</div></td>
        <td class="droppable" data-x-coord="4" data-y-coord="7"><div id="12" class="piece pawn">&#9823;</div></td>
        <td class="droppable" data-x-coord="5" data-y-coord="7"><div id="13" class="piece pawn">&#9823;</div></td>
        <td class="droppable" data-x-coord="6" data-y-coord="7"><div id="14" class="piece pawn">&#9823;</div></td>
        <td class="droppable" data-x-coord="7" data-y-coord="7"><div id="15" class="piece pawn">&#9823;</div></td>
        <td class="droppable" data-x-coord="8" data-y-coord="7"><div id="16" class="piece pawn">&#9823;</div></td>
    </tr>
    <tr>
        <td class="droppable" data-x-coord="1" data-y-coord="6"></td>
        <td class="droppable" data-x-coord="2" data-y-coord="6"></td>
        <td class="droppable" data-x-coord="3" data-y-coord="6"></td>
        <td class="droppable" data-x-coord="4" data-y-coord="6"></td>
        <td class="droppable" data-x-coord="5" data-y-coord="6"></td>
        <td class="droppable" data-x-coord="6" data-y-coord="6"></td>
        <td class="droppable" data-x-coord="7" data-y-coord="6"></td>
        <td class="droppable" data-x-coord="8" data-y-coord="6"></td>
    </tr>
    <tr>
        <td class="droppable" data-x-coord="1" data-y-coord="5"></td>
        <td class="droppable" data-x-coord="2" data-y-coord="5"></td>
        <td class="droppable" data-x-coord="3" data-y-coord="5"></td>
        <td class="droppable" data-x-coord="4" data-y-coord="5"></td>
        <td class="droppable" data-x-coord="5" data-y-coord="5"></td>
        <td class="droppable" data-x-coord="6" data-y-coord="5"></td>
        <td class="droppable" data-x-coord="7" data-y-coord="5"></td>
        <td class="droppable" data-x-coord="8" data-y-coord="5"></td>
    </tr>
    <tr>
        <td class="droppable" data-x-coord="1" data-y-coord="4"></td>
        <td class="droppable" data-x-coord="2" data-y-coord="4"></td>
        <td class="droppable" data-x-coord="3" data-y-coord="4"></td>
        <td class="droppable" data-x-coord="4" data-y-coord="4"></td>
        <td class="droppable" data-x-coord="5" data-y-coord="4"></td>
        <td class="droppable" data-x-coord="6" data-y-coord="4"></td>
        <td class="droppable" data-x-coord="7" data-y-coord="4"></td>
        <td class="droppable" data-x-coord="8" data-y-coord="4"></td>
    </tr>
    <tr>
        <td class="droppable" data-x-coord="1" data-y-coord="3"></td>
        <td class="droppable" data-x-coord="2" data-y-coord="3"></td>
        <td class="droppable" data-x-coord="3" data-y-coord="3"></td>
        <td class="droppable" data-x-coord="4" data-y-coord="3"></td>
        <td class="droppable" data-x-coord="5" data-y-coord="3"></td>
        <td class="droppable" data-x-coord="6" data-y-coord="3"></td>
        <td class="droppable" data-x-coord="7" data-y-coord="3"></td>
        <td class="droppable" data-x-coord="8" data-y-coord="3"></td>
    </tr>
    <tr>
        <td class="droppable" data-x-coord="1" data-y-coord="2"></td>
        <td class="droppable" data-x-coord="2" data-y-coord="2"></td>
        <td class="droppable" data-x-coord="3" data-y-coord="2"></td>
        <td class="droppable" data-x-coord="4" data-y-coord="2"></td>
        <td class="droppable" data-x-coord="5" data-y-coord="2"></td>
        <td class="droppable" data-x-coord="6" data-y-coord="2"></td>
        <td class="droppable" data-x-coord="7" data-y-coord="2"></td>
        <td class="droppable" data-x-coord="8" data-y-coord="2"></td>
    </tr>
    <tr>
        <td class="droppable" data-x-coord="1" data-y-coord="1"></td>
        <td class="droppable" data-x-coord="2" data-y-coord="1"></td>
        <td class="droppable" data-x-coord="3" data-y-coord="1"></td>
        <td class="droppable" data-x-coord="4" data-y-coord="1"></td>
        <td class="droppable" data-x-coord="5" data-y-coord="1"></td>
        <td class="droppable" data-x-coord="6" data-y-coord="1"></td>
        <td class="droppable" data-x-coord="7" data-y-coord="1"></td>
        <td class="droppable" data-x-coord="8" data-y-coord="1"></td>
    </tr>
</table>

<script>

    $(document).ready(function() {
        $('.piece').draggable({
            containment: "table",
            revert: 'invalid'
        });

        $('.droppable').droppable({
            drop: function(event, ui) {
                var piece = ui.draggable;
                var destination_square = $(this);
                console.log($(this));
                var update_piece = {
                    id: piece.data('piece-id'),
                    x_position: destination_square.data('x-coord'),
                    y_position: destination_square.data('y-coord'),
                }

                $.ajax({
                    type: 'PATCH',
                    url: '/pieces/' + update_piece.id,
                    beforeSend: function(xhr) { xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content')) },
                    dataType: 'json',
                    data: { id: update_piece.id, x_position: update_piece.x_coord, y_position: update_piece.y_coord },
                    success: function(data) {
                        if (data.success) {
                            //reset style position relative, left, top
                            //query to move the div the piece is in    
                            piece.detach().appendTo(destination_square.parent());
                            console.log(data);
                        } else {
                            //reset style style position relative, left, top
                        }
                    }
                });
            }
        });
    });

</script>
</body>
</html>
>>>>>>> Working in several places at once
