<html>

<body>
    <div class="board">
        <h1> Whats up</h1>
        <table>
            <tbody>
                <% (1..8).each do |y_coord| %>
                <tr id=<%=y_coord%>>
                    <% (1..8).each do |x_coord| %>
                    <% piece = @pieces.where("(starting_position_x = ? AND starting_position_y = ?)", x_coord, y_coord).first %>
                    <td data-y="<%= y_coord %>" data-x="<%= x_coord %>">
                        <% if piece.present? %>
                        <%= piece.html_code.html_safe%>
                        <% end %>
                        <% end %>
                    </td>
                    <% end %>
                </tr>
            </tbody>
        </table>
    </div>
</body>