<html>
<body>
   <div class="board">
      <table>
        <tbody>
          <% (1..8).each do |y_coord| %>
            <tr id =#{y}>
              <% (1..8).each do |x_coord| %>
                 <td id=#{y}#{x} data-x=#{x} data-y=#{y} data-piece-id='#{piece_id}'>
                <% end %>
                </td>
              <% end %>
            </tr>
        </tbody>
      </table>
    </div>
</body>
