// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
  margin: 0 auto;
  margin-top: 75px;
  border: solid #5d1b03 4px;
  background-image: url('/assets/light.jpeg');
}

table tr td {
  width: 70px;
  height: 70px;
}

table tr:nth-child(odd) td:nth-child(even) {
 background-image: url('/assets/dark.jpeg');
}
table tr:nth-child(even) td:nth-child(odd) {
  background-image: url('/assets/dark.jpeg');
}

